* {
    box-sizing: border-box;
}
body{
    background-color: rgb(245, 245, 249);
}
.dashboard {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    height: 100vh;
}

aside {
    width: 20%;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #fff;
    position: fixed;
    height: 100vh;
    top: 0;
}
main{
    width: 78%;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 30px;
    display: none;
}

.index-main {
    width: 80%;
    background-color: rgb(245, 245, 249);
    position: absolute;
    left: 0;
    display: block !important;
    height: auto;
    top: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    box-shadow: none;
}

aside .logo-dashboard img {
    width: 200px;
    height: 120px;
}

aside ul .li-menu-dashboard {
    list-style: none;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 10px 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

aside ul .li-menu-dashboard a {
    text-decoration: none;
    color: #BAC1C8;
    margin: 10px 10px;
    display: inline-block;
    width: 100%;
    text-align: right;
    padding: 0 10px;

}

.menu_dashboard {
    display: flex;
    flex-direction: column;
    align-items: end;

}

.menu_dashboard li i {
    margin: 5px 15px;
    font-size: 20px;
}

.menu_dashboard li:hover {
    background-color: #f5f5f5;
}
.active-dashboard {
    background-color: #E7E7FF;
}

.active-dashboard:hover {
    background-color: #ddddfa !important;
}

.active-dashboard a {
    color: #696CFF !important;
}

/* main Dashboard */

.box-dashboard {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.item-box-dashboard {
    margin: 20px;
    width: 30%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon_box_dashboard {
    width: 40%;
}

.icon_box_dashboard i {
    width: 80px;
    height: 80px;
    font-size: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 20px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.icon_box_dashboard i:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.sale_dash i {
    background-color: #E8F9DF;
    color: #A9EA87;
}

.order_dash i {
    background-color: #FFE0DB;
    color: #FF3E1D;
}

.user_dash i {
    background-color: #D6F5FC;
    color: #04C3EC;
}

.text_box_dashboard {
    width: 60%;
}

.text_box_dashboard h3 {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.text_box_dashboard p {
    font-size: 15px;
    color: #ccc;
}

.top-dashboard,
.chart-dashboard {
    margin: 25px auto;
    width: 97%;
    height: 9vh;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.chart-dashboard {
    height: 80vh;
}
.top-dashboard{
    margin: 10px 25px 25px 25px;
}

#myChart {
    height: 70vh !important;
    margin: 0 auto;
    margin-top: 20px;
    font-family: 'iranSans';
    /* width: 100% !important; */
}


/* top profile */
.action {
    position: relative;
    top: 0%;
    right: 55%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

.profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: red;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-top: -16px;
}

.profile img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-profile-dashboard {
    position: absolute;
    top: 75px;
    right: -16px;
    background-color: #fff;
    width: 400px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    opacity: 0;
    transform: translateY(80px);
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.menu-profile-dashboard.active {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.menu-profile-dashboard::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 25px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.action .menu-profile-dashboard h3 {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-weight: 900;
    width: 100%;
}

.action .menu-profile-dashboard h3 span {
    font-size: 14px;
    color: #777;
}

.action .menu-profile-dashboard ul {
    width: 100%;
    list-style: none;
    padding: 0 30px;
    box-sizing: border-box;
}

.action .menu-profile-dashboard ul li {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.action .menu-profile-dashboard ul li img {
    width: 30px;
    margin-left: 10px;
    opacity: 0.6;
}

.action .menu-profile-dashboard ul li a {
    text-decoration: none;
    color: #000;
}


/* search */
.search {
    position: relative;
    top: -55px;
    right: 150px;
}

.inputSearch {
    width: 0px;
    border: none;
    outline: none;
    background-color: #E7E7FF;
    height: 50px;
    font-size: 18px;
    font-family: 'vazir';
    padding: 5px 0px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.btnSearch {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #E7E7FF;
    font-size: 18px;
    position: absolute;
    top: 0px;
    right: 250;
    cursor: pointer;
}
.btnSearch i{
    color: #696CFF;
}

.search.active input {
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
}

/* product page */
main.prodcut_main , main.comment_main , main.order_main{
    overflow-y: scroll;
    position: fixed;
    top: 0;
}
.product-menu{
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
    direction: rtl;
    padding-bottom: 20px;
    border-bottom: 2px solid #696CFF;
}
.product-menu li{
    cursor: pointer;
    padding: 10px;
}

.prodcut_items_box ,.comment_items_box{
    display: flex;
    direction: rtl;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #E7E7FF;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.img_text_product_item{
    display: flex;
    align-items: center;
    width: 70%;
    object-fit: cover;
}
.prodcut_items_box img ,.comment_items_box img{
    width: 120px;
    height: 120px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.prodcut_items_box .img_text_product_item .text_prodcut_item_box{
    margin-right: 20px;
}
.prodcut_items_box .img_text_product_item .text_prodcut_item_box h3{
    font-size: 20px;
    
}
.prodcut_items_box .img_text_product_item .text_prodcut_item_box h4,
.prodcut_items_box .img_text_product_item .text_prodcut_item_box h5{
    color: #777;
}

.count_prodcut_box ,.price_prodcut_box{
    display: flex;
    align-items: center;
}
.buttons_product_item , .buttons_comment_item{
    display: flex;
    width: 25%;
}
.disable_product_item , .disable_comment_item{
    background-color: #696CFF;
    width: 150px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 18px;
    padding: 20px;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    margin-right: 20px;
    justify-content: center;
}
.edite_delete_buttons_product_item{
    display: flex;
    flex-direction: column;
}
.edit_product_item , .delete_product_item{
    width: 120px;
    border: 2px solid #696CFF;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit_product_item{
    margin-bottom: 10px;
}
.active-submenu{
    background-color: #D6F5FC;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* comments */

.comment_text{
    width: 70%;
}
.img_text_comment_item{
    width: 15%;
}
.img_text_comment_item img{
    object-fit: cover;
}
.buttons_comment_item{
    width: 15%;
}
.buttons_comment_item .disable_comment_item{
    padding: 30px 0 !important;
    background-color: #FF3E1D;
}

/* add product */
 .formAddProduct{
    width: 70vw;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 20px;
    padding: 10px;
}
 .add-product-inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
  }
 .add-product-inputs .inputdiv{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
 }
.add-product-inputs input{
    width:70%;
    height:40px;
    margin:30px  5px;
    padding: 18px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #fdfbfb;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #f2f2f2;
}
.add-product-input-bottom{
    display: flex;
    flex-direction: row;
    width: 70%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

form .button {
    text-align: center;
    font-size: 20px;
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 16px 30px;
    margin: 20px 0;
    color: #fff;
    font-weight: 600;
    background-color: #F385AA;
    transition: 0.4s;
    outline: none;
    border: none;
    border-radius: 20px;
    /* padding-bottom: 40px; */
    margin: auto;
    margin-top: 20px;
}
form .button:hover{
   color: #F385AA;
   border: 2px solid #F385AA;
   background-color: #fff;
  }
  .textBox{
    position: relative;
    width: 70%;
  }
  #textarea-remaining{
    position: absolute;
    left: 15px;
    bottom: 47px;
    color: #999;
  }
  .image_uploader{
    text-align:center;
    padding:3%;
    border:1px solid #ccc;
    width:30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 20px;
    margin: 20px 30px;
}
.inputLable{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-prev{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 5px;
  object-fit: cover;
  display: block;
}
.textInput{
    display: none;
}
i.fa.fa-2x.fa-camera.icon_prev{
    display: none;
}
  input[type="file"]{
    display: none;
  }

  label{
    cursor:pointer;
  }
  
  #imageName{
    color:green;
  }
  @media only screen and (max-width: 968px) {   
    .add-product-title h1{
        font-size: 25px;
    }
     .add-product-inputs-top input{
        font-size: 14px;
    }
     .add-product-input-bottom .button{
        width: 50%;
    }
}
