body{
    direction: rtl;
}
.login_form_section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color: #F7F7F7;
}
.form_login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5px 5px 50px 5px #a8a8a858;
    width:350px;
    height: 450px;
    border-radius: 25px;
    padding: 30px;
}
.user, .pass ,.name{
    display: flex;
    flex-direction: column;
}
.password_box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.input_user, .input_pass, .input_name{
    height:45px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid #a8a8a8;
    margin-top: 10px;
    background-color: #dedede58;
    transition: 0.4s;
    padding: 5px;
}
.input_pass{
    padding-left: 40px;
}
.input_user:hover, .input_pass:hover ,.input_name:hover{
    background-color: #a7a7a758;
}
.toggle{
    margin-top: 15px;
    width: 30px;
    position: absolute;
    left: 0px;
}
#slash-eye{
    display: none;
  }

  .toggle svg{
    color: #505050;
    opacity: .7;
    cursor: pointer;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    font-size: 19px;
}
  .toggle svg:hover{
    opacity: 1;
  }

  .hide .fa-eye{
    display: none;
  }
  .hide #slash-eye{
    display: block;
  }
.btn_submit{
    margin:20px 60px;
    height: 45px;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #4BA7B9;
    background-color: #4ba7b94c;
}
.question{
    padding-right: 70px;
}
.a_register{
    text-decoration: underline;
}
.icon_login_back{
    width: 12px;
    height: 12px;
}
.back{
    display: flex;
    align-items: center;
    margin-right: -267px;
    margin-bottom: 20px;
}
.back p{
    font-size: 14px;
    margin-right: 10px;
}